<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowNetworkAccess</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>BPStatus</string>
	<key>CFBundleIdentifier</key>
	<string>com.roobasoft.widget.backpack_journal</string>
	<key>CFBundleName</key>
	<string>BackpackJournal</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2</string>
	<key>CFBundleVersion</key>
	<string>0.2</string>
	<key>CloseBoxInsetX</key>
	<integer>15</integer>
	<key>CloseBoxInsetY</key>
	<integer>15</integer>
	<key>Height</key>
	<integer>232</integer>
	<key>MainHTML</key>
	<string>main.html</string>
	<key>Width</key>
	<integer>494</integer>
</dict>
</plist>
